{% load static %}
{% load humanize %}
<!-- this is a base model for this website, it consists of external links in the header section , navbar and footer section  -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- links for external libraries -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- links for internal css -->
    <link rel="stylesheet" href=" {% static 'market/css/style.css' %}">
    <title>Document</title>
</head>
<body>
    <!-- navbar tag -->

	 <nav>

		<b href="#" class="px-2" id="menu-btn">&#9776</b>
		<a href='#' id="brand" href="#">
			<div class="brand-name" ><img src="{% static 'sellam-logo.png' %}" alt=""></div>
		</a>
		<div class="links">
			<a href="#" class="link">Policies</a>
			<a href="#" class="link">About us</a>
		</div>
		<br>
		<div id="login-out">
			<a href="#">
				<img src=" {% static 'sellam-logo.png' %}" alt="">

			</a>
			<div class="drops">
				
				{% if user.is_authenticated %}
					<a href="{% url 'profile' %}">My Profile</a>

					<a href="{% url 'message' %}">Messages</a>
					<a href=" {% url 'logout' %}">Log Out</a>

				{% else %}
					<a href=" {% url 'login' %}">Log In</a>
					<a href=" {% url 'signup' %}">Register</a>

				{% endif %}
				
	
			</div>
		</div>
		<br>


	</nav>
	

    <!-- end of navbar tag -->
	{% block contents %}
	
	{% endblock contents %}



    <!-- footer section  -->

    <footer class="p-3">
		<div class='footer-section row '>
			<div class='send-msg col-md-4 d-flex flex-column'>
				<h4 class="text-dark">Send Us A Message</i></h4>
				<form action="post">
					<input type="email" name='sender-email' placeholder="Your Email" class="w-100 p-2">
					<br><br>
					<textarea name="message-body" id="message-body" placeholder="Your Message" cols="30" rows="5" class="w-100 p-2"></textarea>
					<button type="submit" class="btn btn-dark">Send Message <i class="fa fa-envelope"></i></button>
				</form>
				<br><br>

			</div>
			<div class="social-medias col-md-4 d-flex flex-column text-white">
				<h4 class="text-dark">Follow Us On :</h4>
				<a href="#" >Facebook <i class="fab fa-facebook"></i></a>
				<a href="#">Twitter <i class="fab fa-twitter"></i></a>
				<a href="#">Instagram</a>
				<br><br>
			</div>
			<div class="other col-md-4 d-flex flex-column">
				<h4 class="text-dark">More</h4>
				<a href="#">Privacy and Policy</a>
				<a href="#">Terms and Conditions</a>
				<a href="#">Frequently asked questions</a>
			</div>
		</div>
	</footer>

    <!-- end of footer section  -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<script >
		menuBtn = document.getElementById('menu-btn')

		links = document.querySelector('.links')
		menuBtn.onclick = function(){
			links.style.display == 'none' ? links.style.display = 'flex' : links.style.display = 'none'
}
	</script>
</body>
</html>