{% extends 'market/base.html' %}
{% load static %}
{% load humanize %}
{% block title %}
    Sell  and Buy used and new Products
{% endblock title %}

{% block contents %}
{% if items %}
<p class="text-danger display-3">{{category.name}}</p>

	<div class="featured-ads d-flex flex-wrap ">
	{% for item in items %}
		<a href=" {% url 'details' item.slug %}" class="d-flex flex-column ">
			<b class="price">#{{item.price}}</b>
			<img src="{{item.get_first_img.url}}" alt="">
			<span class="description align-self-center">{{item.title}}</span>
		</a>
	{% endfor %}
	</div>

	{% else %}
	<p class="text-danger display-3">No items available in this category</p>
{% endif %}

		

    
{% endblock contents %}

{% block scripts  %}

{% endblock scripts  %}


