{% extends 'landing/base.html' %}

{% block content %}

 <div class="d-flex flex-column justify-content-center align-items-center flex-wrap m-auto">
      <p class="form-description">Create a new ad</p>
        <form class="form" enctype="multipart/form-data" method="POST"  >   
        {% csrf_token %}
           {% for field in createform %}
           <div class="form-group"> 
                {{field.label}}
                <br> 
                {{field}}   

           </div>
           
           {% endfor %}

            {% for field in imageform %}
           <div class="form-group"> 
                {{field.label}}
                <br> 
                {{field}}   

           </div>
           
           {% endfor %}
      
            <button type="submit" class="sellam-btn" >Post Ad</button>
                
            
        </form>
       
    </div>
{% endblock content %}
{% block scripts %}
   
{% endblock scripts %}