{% extends 'landing/base.html' %}

{% block content %}

<div class="d-flex flex-column justify-content-center align-items-center flex-wrap m-auto">
<p class="form-description">Edit Item details</p>
        <form class="form" enctype="multipart/form-data" method="POST"  >   
        {% csrf_token %}
           {% for field in form %}
           <div class="form-group"> 
                {{field.label}}
                <br> 
                {{field}}   

           </div>
           
           {% endfor %}
      
            <button type="submit" class="sellam-btn" >Change Ad Info</button>
                
            
        </form>
       
    </div>
  
{% endblock content %}