{% extends 'market/base.html' %}
{% load static %}
{% load humanize %}
{% block title %}
    Sell  and Buy used and new Products
{% endblock title %}

{% block contents %}
 <div id="welcome" class="text-center  py-5" >
		<div class="find">
			<h1 class="buysell" style="font-weight: 100;font-size:30px;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif" >Buy and sell anything in Nigeria</h1>
		</div>
		<form class="form py-4" action="#">
			<input type="text"  placeholder="What are you looking for ?" name="search" id="search-input" class="p-1" autocomplete="off" >
			<button class="btn btn-secondary" type="submit">Search</button>
		</form>
    </div>
	<br>
    <div class="categories d-flex flex-wrap ">
		<a href=" {% url 'create' %}" class="add-item m-auto d-flex flex-column align-items-center">
			<div class="post-ad">+</div>
			<span class="text-dark" style="font-size:25px;">Post ad</span>
		</a>
		{% for category in categories %}
		<a href=" {% url 'category' category.slug %}" class=" category d-flex flex-column align-items-center">
			<img src="{{category.image.url}}"
			class="category-image" 
			alt="" srcset="">
			<b class="font-size">{{category.name}}</b>
		</a>
		{% endfor %}
		
	</div>
	<h2>Featured ads</h2>
	<div class="featured-ads ">
	{% for item in items %}
		<a href=" {% url 'details' item.slug %}" class="">
			<b class="price">#{{item.price}}</b>
			<img src="{{item.get_first_img.url}}" alt="">
			<span class="description align-self-center">{{item.title | truncatewords:5 }}</span>
		</a>
	{% endfor %}
		
		
	</div>
{% endblock contents %}

{% block scripts  %}

{% endblock scripts  %}


