{% extends 'market/base.html' %}
{% load humanize%}

{% block contents %}
<div style="text-align: center;"><a style="text-decoration: none;color: firebrick;font-size: 3vw;
    border: 2px solid aqua;border-radius: 20px;padding: 3px;" href="{% url 'complete-reg' %}">Update your profile</a></div>
<div id="profile-info">
    <img width="200" height="200" src="{{user.profile.profile_pic.url}}" alt="profile pic">
    <div id="info">
        <span>username : {{user.username}}</span><br>
        <span>email : {{user.email}}</span><br>
        <span>first name : {{user.first_name}}</span><br>
        <span>last name : {{user.last_name}}</span><br>
        <span>phone number : {{user.profile.phone_number}}</span>
        <br>
        <span> last seen : {{user.last_login | naturaltime}}</span>
    </div>
</div>



<script>
    // async codes for profile page update
let profileForm = document.forms.profile_form

profileForm.onsubmit =(e)=>{
    e.preventDefault()
    const xhr = new XMLHttpRequest()

    xhr.open('POST', 'http://127.0.0.1:8000/user/profile/')

    xhr.onload=()=>{
        alert(xhr.response)
        
    xhr.onerror=()=>{
        alert(error)
    }
   const formdata = new FormData(profileForm)
   console.log(formdata)

   xhr.send(formdata)

}
}
</script>
  
{% endblock contents %}