 body{
     padding: 0;
     margin: 0;
     display: flex;
     flex-direction: column;
 } 
.sellam-btn{
    background-color: tomato;
    color:white;
    outline: none;
    border-radius: 5px;
    border: none;
    padding:7px;
    width: 100%;
    align-self: center;
    margin-bottom: 10px;
   
}
.sellam-btn:hover{
    background-color: rgba(255, 99, 71, 0.788);
}
label{ 
    color: brown;
    font-weight: bold;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
input,textarea,select{
    border: 1px solid tomato;
    border-radius: 5px;
    outline: none;
}
input{
    width: 100%;
}
input:focus{
    border: 2px solid tomato;
}
*{
    box-sizing: border-box;
}
#div-cont{
    background:rgba(10,40,40,0.3);
    color: black;
    border-radius: 5px;
    padding: 20px;
    width: 450px;

}
#div-cont ul li{
    list-style-type: none;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 13px;
}
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

#loginform label{
    font-size: 20px;
    font-weight: lighter;
    margin:10px;
    color:white;
    font-family:serif;
    color: white;
}
label{
    color: white;
}



#loginform #btn{
    cursor: pointer;
    margin-top:10px ;
    background-color:rgb(0, 0, 0) ;
    color: white;
    width:100%;
    text-align: center;
    outline: none;
    padding:7px;
    border: none;
    font-size: 17px;

    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#loginform #btn:hover{
    filter: drop-shadow(2px 2px 5px black);

}

#question{
    color:brown;
    font-size: 15px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#question a{
    color: rgb(21, 27, 83);
}
.fa-eye{
    cursor:pointer;
}
.recent input{
    width: 100%;
    outline: none;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: brown;
}
.recent select{
    width: 100%;
    font-size: 15px;
}
.recent a{
    color: aqua;
}
.recent label{
    font-size:20px;
    font-family:'Quicksand', sans-serif;
}
#recent-btn{
    width: 100%;
    background-color: black;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    cursor: pointer;
    border: none;
}