{% extends 'landing/base.html' %}

{% block content %}
<div  class="d-flex flex-column justify-content-center align-items-center">
    
        <form method="POST" action="" enctype="multipart/form-data" >
            
            {% csrf_token %}
            {% for field in u_form %}
           <div class="form-group"> 
                {{field.label}}
                <br> 
                {{field}}   
                <p class="text-danger"> {{field.help_text}}</p>
               
           </div>
           
           {% endfor %}
           {% for field in p_form %}
           <div class="form-group"> 
                {{field.label}}
                <br> 
                {{field}}   
                <p class="text-danger"> {{field.help_text}}</p>

           </div>
           
           {% endfor %}
                        
          <br>	
          <button class=" sellam-btn"   type="submit"> Update</button>
        </form>

    </div>
    
{% endblock content %}
