{% extends 'landing/base.html' %}

{% block content %}
     <div class="d-flex flex-column justify-content-center align-items-center">
        <form class="form" method="POST" name="loginform" id="loginform">   
        {% csrf_token %}
           {% for field in form %}
           <div class="form-group"> 
                {{field.label}}
                <br> 
                {{field}}   
                <p class="text-danger"> {{field.help_text}}</p>

           </div>
           
           {% endfor %}
           
            <br><br>
            <button type="submit" class="btn btn-primary" >Sign Up</button>
                
            
        </form>
        <p id="question">Already  have an account ? <a href=" {% url 'login' %} ">Log in</a></p>
    </div>
{% endblock content %}