{% extends 'landing/base.html' %}

{% block content %}
     <div class="d-flex flex-column justify-content-center align-items-center flex-wrap m-auto">
        <form class="form" method="POST"  >   
        {% csrf_token %}
           {% for field in form %}
           <div class="form-group"> 
                {{field.label}}
                <br> 
                {{field}}   

           </div>
           
           {% endfor %}
      
            <button type="submit" class="sellam-btn" >Sign Up</button>
                
            
        </form>
        <p id="question">Already  have an account ? <a href=" {% url 'login' %} ">Log in</a></p>
    </div>
{% endblock content %}